// If you get `Error: EMFILE: too many open files...`, running all 3 options here https://stackoverflow.com/a/60881735 and restarting WSL worked for me

layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
              name "hub"
              cwd "hub"
              command "pnpm"
              args "dev"
            }
            pane {
              name "app"
              cwd "app"
              command "pnpm"
              args "dev"
              close_on_exit false
            }
            pane {
              name "tsc"
              command "pnpm"
              args "tsc-watch"
            }
        }
        pane split_direction="horizontal" {
            pane borderless=true {
              name "ugc"
              command "bash"
              args "-c" "turbo turso previewDev --filter app-ugc --filter hub-ugc --filter // --output-logs new-only"
            }
            pane {
              name "api-ugc"
              cwd "api-ugc"
              command "pnpm"
              args "dev" "--show-interactive-dev-session" "false"
            }
            pane split_direction="vertical" {
                pane {
                  name "peer"
                  cwd "peer"
                  command "pnpm"
                  args "dev"
                }
                pane {
                  name "generateSql"
                  cwd "shared"
                  command "pnpm"
                  args "generateSql"
                }
            }
            pane {
              name "cwa"
              cwd "cwa"
              command "pnpm"
              args "dev" "--show-interactive-dev-session" "false"
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
