node_modules
dev-dist
dist
lib
/test-results/
/playwright-report/
/playwright/.cache/
.cert
env.sh
.env.development
.env.production
src/assets/sql-wasm.wasm
public/assets/solid*.js
public/assets/solidWeb*.js
public/assets/solidRouter*.js
