/* Chrome, Edge, and Safari. Firefox seems to work automatically somehow. */
*::-webkit-scrollbar {
	width: 1em;
}
*::-webkit-scrollbar-track {
	background-color: theme(colors.gray.900);
}
*::-webkit-scrollbar-thumb {
	background-color: theme(colors.gray.600);
	border: 3px solid theme(colors.gray.900);
	border-radius: 0.5em;
}
